$bodyTextColor: #5a3e2b;
$headingColor: #71c9ce;
$formColor: #a6e3e9;
$selectColor: #ffebb3;
$buttonColor: #76c7ad;
$listTextColor: #252a34;
$checkboxColor: $formColor;
$statsColor: #76c7ad;
$listColor: #e3fdfd;
